* { padding:0;margin:0;}
html, body {
    background: #424347;
    height: 100%;
    font-family: Tahoma, Geneva, sans-serif !important;
}
body.controller {
    position: relative;
}
.button {
    position: relative;
    height: 5em;
    width: 5em;
    color: white;
    font-size: 2em;
    font-weight: bold;
    background: #383838;
    border: 1px solid black;
    border-radius: 0.5em;
    cursor: pointer;
    box-sizing: content-box;
    word-wrap: break-word;
    line-height: 4.75em;
    word-break: normal;
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
    font-family: Tahoma, Geneva, sans-serif;
    align-items: flex-start;
    text-align: center;
}
.button-multiline {
    line-height: 1em;
}
.button-multiline.state {
    padding-bottom: 0.5em;
}
.button-large {
    width: 7em;
}

body.admin .button {
    margin-right: 0.4em;
    margin-bottom: 0.4em;
}
body.admin .button.state {
    padding: 0 10px;
    padding-bottom: 10px;
}
body.admin .button.state:after  {
    content: "";
    width: 100%;
    height: 0.6em;
    display: block;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 0.5em 0.5em;
    border: 1px solid transparent;
    box-sizing: border-box;
    background: #8B8B8D;
    border-top: 3px solid #D4D4D4;
    margin-left: -10px;
}
body.admin .button.state.safe:after {
    background: #6D8E1B;
    border-top: 3px solid #AACD59;
}
body.admin .button.state.neutral:after {
    background: #38A2BC;
    border-top: 3px solid #79CBE1;
}
body.admin div.config,
body.admin div.actions,
body.admin div.cli {
    margin: 2em;
    position: relative;
    text-align: center;
}

body.admin .cli input {
    width: 100%;
    font-size: 2em;
    line-height: 2em;
    padding-right: 5em;
    box-sizing:border-box;
}
body.admin .cli .button {
    position: absolute;
    right: 3px;
    top: 1px;
    height: 2em;
    margin: 0;
}
body.admin .split-admin-panel {
    display: inline-block;
}

h1 {
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.1em;
    text-align: center;
    padding-top: 1em;
}
h2 {
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.1em;
    text-align: center;
    padding-top: 1em;
}
div.menu {
    position: absolute;
    left: 50%;
    top: 54%;
    width: 22em;
    margin-left: -11em;
    text-align: center;
}
div.menu div.item {
    font-family: Courier, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    margin: 0 0.25em;
}
div.menu .button {
    height: 1em;
    width: 3em;
    display: block;
    margin-top: 0.2em;
}

div.direction {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 30em;
    height: 30em;
    margin-left: 2em;
    margin-top: 18em;
}
div.direction .button {
    position: absolute;
}
button.up {
    border-radius: 0.5em 0.5em 3em 3em;
    top: 0%;
    left: 50%;
    margin-left: -2.5em; 
}
button.down {
    border-radius: 3em 3em 0.5em 0.5em; 
    bottom: 0%;
    left: 50%;
    margin-left: -2.5em;
}
button.left {
    border-radius: 0.5em 3em 3em 0.5em;
    top: 50%;
    left: 0%;
    margin-top: -2.5em; 
}
button.right {
    border-radius: 3em 0.5em 0.5em  3em; 
    top: 50%;
    right: 0%;
    margin-top: -2.5em;
}

div.suppl {
    margin-top: 2em;
}
div.suppl .button{
    width: 15em;
    height: 2.5em;
    line-height: 2.5em;
    display: block;
    margin-bottom: 0.5em;
    color: #AAA;
}
div.suppl.suppl_L {
    position: absolute;
    left: 0%;
    top: 0%;
    margin-left: 2em;
}
div.suppl.suppl_R {
    position: absolute;
    right: 0%;
    top: 0%;
    margin-right: 2em;
}

div.action {
    position: absolute;
    right: 0%;
    top: 0%;
    width: 30em;
    height: 30em;
    margin-right: 2em;
    margin-top: 18em;
}
div.action .button {
    background-repeat: no-repeat;
    background-color: #373737;
    background-position: center center;
    position: absolute;
}

button.square {
    top: 50%;
    left: 0%;
    margin-top: -2.5em;
}
button.circle {
    top: 50%;
    right: 0%;
    margin-top: -2.5em;
}
button.cross {
    bottom: 0%;
    left: 50%;
    margin-left: -2.5em;
}
button.triangle {
    top: 0%;
    left: 50%;
    margin-left: -2.5em;
}