* { padding:0;margin:0;}
html, body {
    background: #424347;
    height: 100%;
}
body.controller {
    position: relative;
}
button {
    position: relative;
    height: 5em;
    width: 5em;
    color: white;
    font-size: 2em;
    font-weight: bold;
    background: #383838;
    border: 1px solid black;
    border-radius: 0.5em;
    cursor: pointer;
    box-sizing: content-box;
    word-wrap: break-word;
    line-height: 1em;
    word-break: normal;
    vertical-align: top;
}

div.admin {
    padding: 2em;
}
div.admin button {
    margin-right: 0.4em;
    margin-bottom: 0.4em;
}
div.admin button:after {
    content: "";
    width: 5em;
    height: 0.6em;
    display: block;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 0.5em 0.5em;
    border: 1px solid transparent;
    box-sizing: border-box;
    background: #8B8B8D;
    border-top: 3px solid #D4D4D4;
}
div.admin button.safe:after {
    background: #6D8E1B;
    border-top: 3px solid #AACD59;
}
div.admin button.neutral:after {
    background: #38A2BC;
    border-top: 3px solid #79CBE1;
}
h1 {
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.1em;
    text-align: center;
    margin-top: 1em;
}
div.menu {
    position: absolute;
    left: 50%;
    top: 54%;
    width: 20em;
    margin-left: -10em;
    text-align: center;
}
div.menu div.item {
    font-family: Courier, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    margin: 0 0.25em;
}
div.menu button {
    height: 1em;
    width: 3em;
    display: block;
    margin-top: 0.2em;
}

div.direction {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 30em;
    height: 30em;
    margin-left: 2em;
    margin-top: 18em;
}
div.direction button {
    position: absolute;
}
button.up {
    border-radius: 0.5em 0.5em 3em 3em;
    top: 0%;
    left: 50%;
    margin-left: -2.5em; 
}
button.down {
    border-radius: 3em 3em 0.5em 0.5em; 
    bottom: 0%;
    left: 50%;
    margin-left: -2.5em;
}
button.left {
    border-radius: 0.5em 3em 3em 0.5em;
    top: 50%;
    left: 0%;
    margin-top: -2.5em; 
}
button.right {
    border-radius: 3em 0.5em 0.5em  3em; 
    top: 50%;
    right: 0%;
    margin-top: -2.5em;
}

div.suppl {
    margin-top: 2em;
}
div.suppl button{
    width: 15em;
    height: 2.5em;
    display: block;
    margin-bottom: 0.5em;
    color: #AAA;
}
div.suppl.suppl_L {
    position: absolute;
    left: 0%;
    top: 0%;
    margin-left: 2em;
}
div.suppl.suppl_R {
    position: absolute;
    right: 0%;
    top: 0%;
    margin-right: 2em;
}

div.action {
    position: absolute;
    right: 0%;
    top: 0%;
    width: 30em;
    height: 30em;
    margin-right: 2em;
    margin-top: 18em;
}
div.action button {
    background-repeat: no-repeat;
    background-color: #373737;
    background-position: center center;
    position: absolute;
}

button.square {
    top: 50%;
    left: 0%;
    margin-top: -2.5em;
}
button.circle {
    top: 50%;
    right: 0%;
    margin-top: -2.5em;
}
button.cross {
    bottom: 0%;
    left: 50%;
    margin-left: -2.5em;
}
button.triangle {
    top: 0%;
    left: 50%;
    margin-left: -2.5em;
}