<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Pianette — Administration</title>
        <meta name="viewport" content="width=1500, user-scalable=0">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='favicons/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='favicons/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='favicons/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='favicons/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='favicons/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='favicons/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='favicons/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='favicons/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicons/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='favicons/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicons/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}">
        <meta name="msapplication-TileImage" content="{{ url_for('static', filename='favicons/ms-icon-144x144.png') }}">

        <link rel="manifest" href="{{ url_for('static', filename='manifest/manifest.json') }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <style>
            button.small-cross {
                background: url("{{ url_for('static', filename='images/cross.png') }}") no-repeat center center #373737;
            }
        </style>
    </head>
    <body class="controller admin">
        <h1>Available Game configurations</h1>
        
        <div class="config">
            {% for config in configs %}
                <button data-namespace="pianette" data-command="select-game" data-needs-reload="true" data-args="{{ config }}" data-player="*" class="button button-multiline state{% if config == current_config %} safe{% endif %}">{{ config }}</button> 
            {% else %}
                No available configs
            {% endfor %}
        </div>

        <h1>Pianette admin console</h1>
        {% for host in hosts %}
        <div class="split-admin-panel" style="width: {{ 100/(hosts|length) - 1 }}%;">
            <h2>{{ host|upper }}</h2>

            <div class="actions">
                <button data-namespace="game" data-command="reset" data-args="" data-player="{{ host }}" class="button button-multiline state neutral">Game RESET</button>
                <div class="small-controller">
                    <button data-namespace="console" data-command="play" data-player="{{ host }}" data-args="↑" class="button up">↑</button>
                    <button data-namespace="console" data-command="play" data-player="{{ host }}" data-args="→" class="button right">→</button>
                    <button data-namespace="console" data-command="play" data-player="{{ host }}" data-args="↓" class="button down">↓</button>
                    <button data-namespace="console" data-command="play" data-player="{{ host }}" data-args="←" class="button left">←</button>
                </div>
                <div class="small-buttons">
                    <button data-namespace="console" data-command="play" data-args="START" data-player="{{ host }}" class="button button-multiline">START</button>
                    <button data-namespace="console" data-command="play" data-player="{{ host }}" data-args="✕" class="button button-multiline small-cross"></button>
                </div>
            </div>
        </div>
        {% endfor %}

        <h1>Broadcast actions *</h1>

         <div class="actions">
            <button data-namespace="game" data-command="start" data-args="" data-player="*" class="button button-multiline state neutral">Game START</button>
            <button data-namespace="game" data-command="flip" data-args="" data-player="*" class="button button-multiline state neutral">Game FLIP</button>
            <button data-namespace="game" data-command="pause" data-args="" data-player="*" class="button button-multiline state">Game PAUSE</button>
            <button data-namespace="game" data-command="resume" data-args="" data-player="*" class="button button-multiline state">Game RESUME</button>
        </div>

        <div class="cli">
            <input type="text" name="cli" id="cli" value="console.play"><button data-external-sequence="cli" data-player="*" class="button button-multiline">send</button>
        </div>

        <script type="text/javascript">
            var hosts = {{ hosts|tojson }};
            var port = {{ port }};
        </script>
        <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
    </body>
</html>