<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Pianette — Administration</title>
        <meta name="viewport" content="width=1500, user-scalable=0">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='favicons/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='favicons/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='favicons/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='favicons/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='favicons/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='favicons/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='favicons/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='favicons/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicons/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='favicons/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicons/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}">
        <meta name="msapplication-TileImage" content="{{ url_for('static', filename='favicons/ms-icon-144x144.png') }}">

        <link rel="manifest" href="{{ url_for('static', filename='manifest/manifest.json') }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    </head>
    <body class="controller">
        <h1>Pianette admin console</h1>
        <div class="admin">
            <button data-namespace="console" data-command="play" data-args="START" class="safe">START</button>
            <button data-namespace="console" data-command="reset" data-args="" class="neutral">Console Reset</button>

            <button data-namespace="console" data-command="reset" data-args="">N/A</button>
            <button data-namespace="console" data-command="reset" data-args="">N/A</button>
            <button data-namespace="console" data-command="reset" data-args="">N/A</button>
            <button data-namespace="console" data-command="reset" data-args="">N/A</button>
        </div>

        <script type="text/javascript">
            var url_root = "{{ url_root }}";
        </script>
        <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
    </body>
</html>