<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Pianette — Virtual controller for {{ player }}</title>
        <meta name="viewport" content="width=1500, user-scalable=0">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='favicons/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='favicons/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='favicons/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='favicons/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='favicons/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='favicons/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='favicons/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='favicons/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicons/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='favicons/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicons/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}">
        <meta name="msapplication-TileImage" content="{{ url_for('static', filename='favicons/ms-icon-144x144.png') }}">
        
        <link rel="manifest" href="{{ url_for('static', filename='manifest/manifest.json') }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <style>          
            button.square {
                background: url("{{ url_for('static', filename='images/square.png') }}");
            }
            button.circle {
                background: url("{{ url_for('static', filename='images/circle.png') }}");
            }
            button.cross {
                background: url("{{ url_for('static', filename='images/cross.png') }}");
            }
            button.triangle {
                background: url("{{ url_for('static', filename='images/triangle.png') }}");
            }
        </style>
    </head>
    <body class="controller">

        <div class="suppl suppl_L">
            <button data-namespace="console" data-command="play" data-player="{{ player }}" data-args="L1" class="button L1">L1</button>
            <button data-namespace="console" data-command="play" data-player="{{ player }}" data-args="L2" class="button L2">L2</button>
        </div>

        <div class="suppl suppl_R">
            <button data-namespace="console" data-command="play" data-player="{{ player }}" data-args="R1" class="button R1">R1</button>
            <button data-namespace="console" data-command="play" data-player="{{ player }}" data-args="R2" class="button R2">R2</button>
        </div>

        <div class="direction">
            <button data-namespace="console" data-command="play" data-player="{{ player }}" data-args="↑" class="button up">↑</button>
            <button data-namespace="console" data-command="play" data-player="{{ player }}" data-args="→" class="button right">→</button>
            <button data-namespace="console" data-command="play" data-player="{{ player }}" data-args="↓" class="button down">↓</button>
            <button data-namespace="console" data-command="play" data-player="{{ player }}" data-args="←" class="button left">←</button>
        </div>

        <div class="menu">
            <div class="item">
                SELECT
                <button data-namespace="console" data-command="play" data-player="{{ player }}" data-args="SELECT" class="button select"></button>
            </div>
             <div class="item">
                START
                <button data-namespace="console" data-command="play" data-player="{{ player }}" data-args="START" class="button start"></button>
            </div>
        </div>

        <div class="action">
            <button data-namespace="console" data-command="play" data-player="{{ player }}" data-args="□" class="button square"></button>
            <button data-namespace="console" data-command="play" data-player="{{ player }}" data-args="✕" class="button cross"></button>
            <button data-namespace="console" data-command="play" data-player="{{ player }}" data-args="◯" class="button circle"></button>
            <button data-namespace="console" data-command="play" data-player="{{ player }}" data-args="△" class="button triangle"></button>
        </div>


        <script type="text/javascript">
            var hosts = {{ hosts|tojson }};
            var port = {{ port }};
        </script>
        <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
    </body>
</html>